{% extends 'base.html.twig' %}

{% block title %}Edition du movie : {{ movie.title }}{% endblock %}

{% block body %}

<h1>Modifier un movie</h1>

{{ form_start(form) }}
    {{form_errors(form)}}

    {{form_row(form.name)}}

    <button type="submit">Modifier</button>

{{ form_end(form) }}
{% endblock %}
