{% extends 'base.html.twig' %}

{% block title %}Edition du film : {{ movie.title }}{% endblock %}

{% block body %}

<h1>Modifier un film</h1>

{{ form_start(form) }}
    {{form_errors(form)}}

    {{form_row(form.title)}}
    {{form_row(form.genres)}}


    <button class="btn btn-primary" type="submit">Modifier</button>

{{ form_end(form) }}
{% endblock %}
