{% extends 'back/movie/_base_movie.html.twig' %}

{% block title %}Détail du film{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
     {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('admin_movie_edit', {"id" : movie.id}) }}">éditer</a>
     <a class="btn btn-danger" href="{{ path('admin_movie_delete', {"id" : movie.id}) }}">supprimer</a>
    {% endif %}
    <h2>Liste des genres associés</h2>

    <ul class="list-group list-group-flush">
        {% for genre in movie.genres %}
            <li class="list-group-item">{{ genre.name }}</li>
        {% endfor %}
    </ul>

    <h2>Liste des Castings associés</h2>

    <ul class="list-group list-group-flush">
        {% for casting in movie.castings %}
            <li class="list-group-item">{{ casting.role }} : {{ casting.person.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}